@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./assets/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    text-align: center;
    /* Removed the background property */
    padding: 20px;
    border-radius: 10px;
}

.question {
    font-size: 32px; /* Adjust as necessary */
    color: #6e7e9d; /* Color set to specified value */
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    /* Increase padding if needed to prevent content from being too squeezed */
    padding: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    /* color: white; */
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
    background-color: transparent; /* Sets default button background to transparent */
}

/* Button specific styles for background images */
/* Button specific styles adjusted for a rectangular shape and fitting the background image */
.mystery-gift, .two-reals {
    font-size: 0; /* Keeps the text hidden */
    /* Adjusted dimensions for a rectangular shape */
    width: 160px; /* Example width, adjust as needed */
    height: 100px; /* Example height, adjust for proportionality */
    background-position: center; /* Ensures the image is centered */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-size: cover; /* Ensures the image covers the button area without distortion */
}

.mystery-gift {
    background-image: url('./assets/4.png'); /* Image for the "Presente Misterioso" button */
}

.two-reals {
    background-image: url('./assets/5.png'); /* Image for the "2 Reais" button */
}

button:last-child {
    margin-right: 0; /* Ensure the last button doesn't have extra space on its right */
}

